<section class="about">
	<h2>{{model.title}}</h2>
	<p>{{model.description}}</p>
	<p>{{model.numberOfQuestions}} questions</p>
	
	<div class="bottom-navigation">
		<button {{action "backToQuestionnaires"}}>Back</button>
		<button {{action "startQuestionnaire" model}}>Start</button>
	</div>
</section>