<strong>{{model.title}}</strong>
<p>{{model.description}}</p>
<p><strong>Number of questions: </strong>{{model.numberOfQuestions}}</p>
<button {{action "backToQuestionnaires"}}>Back</button>
<button {{action "startQuestionnaire" model}}>Start</button>