<section class="question {{if slideFromRight "question--slide-from-right"}} {{if slideFromLeft "question--slide-from-left"}}">
	<p>{{model.description}} {{if model.mandatory '*'}}</p>
	<p>
		{{#if isFreeTextType}}
			{{textarea rows="4" cols="25" value=model.answer}}
		{{/if}}
		{{#if isMultipleChoiceSingleAnswerType}}
			{{#each model.options as |option|}}
				{{radio-button value=option checked=model.answer}} {{option}}<br>
			{{/each}}
		{{/if}}
		{{#if isMultipleChoiceMultiAnswerType}}
				{{multiselect-checkboxes options=model.options selection=model.answer}}
		{{/if}}
	</p>

	<i>{{if mandatoryAndNoAnswer "*Answer to go to next question"}}</i>

	<div class="bottom-navigation">
		{{#if isNotFirstQuestion}}
			<button {{action "previousQuestion"}}>Previous</button>
		{{/if}}
		<button {{action "nextQuestion"}} disabled={{mandatoryAndNoAnswer}} class="question__next {{if mandatoryAndNoAnswer "question__next--disabled"}}">
			Next
		</button>
	</div>
</section>